// Slider
.banner-section__inner {
  display: flex;
  justify-content: space-between;
}
.banner-section__slider {
  max-width: 870px;
  &-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 5;
    cursor: pointer;
    &-prev {
      left: 20px;
    }
    &-next {
      right: 20px;
    }
  }
  &-img {
    object-fit: cover;
    max-height: 400px;
  }
}
.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  & li {
    display: inline-block;
    padding: 0 5px;
  }
  & button {
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
  }
}
.slick-dots .slick-active button {
  background-color: #fff;
}
.slick-active li button {
  background-color: #fff;
}
.slick-slide img {
  display: inline;
}
.banner-section__slider-img {
  width: 100%;
}


//Banner
.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__info {
    color: white;
    background-color: #1c62cd;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
  }
}
.sale-item__price {
  text-align: right;
}
.price {
  font-family: 'Barlow', sans-serif;
  position: relative;
}
.sale-item__price-new {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #1C62CD;
  margin-right: 6px;
  padding-right: 20px;
  position: relative;
}
.sale-item__price-old {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  margin-right: 15px;
  background-image: url("../../images/old-line.svg");
  padding: 2px 5px;
  background-repeat: no-repeat;
  display: inline-block;
}

.sale-item__footer {
  background-color: #F0F0F4;
  padding: 25px 20px;
  font-size: 18px;
  line-height: 21px;
  & span {
    color: #1c62cd;
    display: block;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
  }
}
.sale-item__title {
  font-size: 18px;
  line-height: 21px;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 7px;
}
.sale-item__img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
  max-height: 175px;
}
