.breadcrumbs {
  margin: 40px 0;
}
.breadcrumbs__list-item {
  display: inline-block;
  padding-right: 16px;
  margin-right: 10px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  flex-shrink: 0;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    background-image: url("../../images/link-arrow.svg");
    width: 6px;
    height: 9px;
    bottom: 6px;
  }
  &:last-child::after {
    display: none;
  }
}
