
.categories__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.categories__item {
  margin-bottom: 30px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  width: 370px;
  display: flex;
  padding: 20px 20px 16px;
  justify-content: space-between;
  transition: all .3s;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }
  &:hover .categories__item-title {
    color: #1c62cd;
  }
}

.categories__item-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.categories__item-img {
  text-align: center;
  width: 50%;
}
.categories__item-img img {
  max-width: 100%;
  height: auto;
}

.categories__item-title {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  font-family: 'Barlow', sans-serif;
  transition: all .3s;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.categories__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}
.categories__item-text::after {
  content: url("../../images/link-arrow.svg");
  padding-left: 3px;
}