.footer {
  background: $background-color;
}
.footer__bottom {
  padding: 46px 0 22px;
  display: flex;
  justify-content: center;
  &-link {
    font-size: 10px;
    line-height: 12px;
    color: #48494d;
    margin: 0 40px;
  }
}

.footer__top {
  padding-top: 43px;
  &-inner {
    display: flex;
    justify-content: space-between;
  }
}

.footer__top-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.footer-form {
  margin-top: 34px;
  display: flex;
  justify-content: start;
  &__btn {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 16px;
    border: none;
    background-color: $text-color;
  }
  &__input {
    font-size: 14px;
    line-height: 17px;
    background-color: white;
    border: none;
    padding: 0 12px;
    &::placeholder {
      color: #C4C4C4;
    }
  }
}

.footer__top-item {
  width: 200px;
}
.footer-list {
  font-size: 14px;
  line-height: 24px;
}

.footer__top-newslatter {
  width: 295px;
  margin-right: 50px;
}

.footer__top-social {
  width: 250px;
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.social-list__item + .social-list__item {
  margin-left: 30px;
}

.footer__topdrop {
  pointer-events: none;
  margin-bottom: 10px;
}